.bottom-header{
    background-color: aquamarine;
}
.bottom-header .container{
    background-color: brown;
    width: 700px;
}
.bottom-header .container .select{
    position: relative;
    -moz-outline-radius-topright: ;
}
.bottom-header .container .select .arrow{
    position: absolute;
    top: 3px;right: 3px;
}