.top-header{
    width: 100%;
    background-color: var(--sBackground);
    display: flex;
    justify-content: center;
}
.container{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 10px;
}
.search input{
    width: 250px;
    height: 25px;
    border: none;
    border-radius: 15px;
}
.search button{
    height: 25px;
    width: 40px;
    transform: ;
}