.top-header{
    width: 100%;
    color: var(--sBackground);
}
.container{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

    padding: 10px;
}