    .category{
        background-color: blueviolet;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .category .category-container{
        width: 900px;
        background-color: burlywood;
        height:500px;
    }
    .category .category-container .info{
        height: 70px;
        display: fle;
    }
    .category .category-container .mySwiper {
        height: 400px;
        background-color: crimson;
        width: 100%;
    }

    .category .category-container .product-Swiper .swiper-slide {
    font-size: 18px;
    background: #444;
    height: 400px;
    
    }