    .category{
        background-color: blueviolet;
        height: 500px;
    }
    .category .container{
        width: 900px;
    }
    .category .container .mySwiper {
        height: 400px;
        background-color: crimson;
        background-color: aqua;
    }

    .category .container .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    height: 400px;
        width: 200px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    }